.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h2,
.title p {
  text-align: center;
  color: var(--primary);
}

.title h2 {
  margin-top: 60px;
  font-size: 3.6rem;
  height: 100%;
}

.dump {
  color: #efb6b2;;
  width: 100px;
  height: 100px;
  background: red;
  background: #fe2323;
  position: relative;
  animation: mymove 5s infinite;
}

.logo-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo {
  width: 45%;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* z-index: 1; */
}
