
.img-grid {
  columns: 4;
  margin: 5px;
  gap: 10px;
  padding-top: 125px;
  padding-top: 135px;
}


.img-wrap {
  opacity: 0.8;
}
.image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #fe2323;
}
